* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.overflow_Y {
  overflow-y: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.topGradient {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), -webkit-gradient(linear, left bottom, left top, from(#211F20), to(#211F20));
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
}

.noise {
  background-image: url(../../assets/noise_transparent.png);
  padding-top: 180px;
}

.burger {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.burger_button_rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#burger_shadow {
  width: 100vw;
  height: 0vh;
  position: fixed;
  background-color: #4C4C4C;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 9998;
}

@-webkit-keyframes burgerShadow {
  5% {
    height: 100vh;
  }
  100% {
    opacity: 0.7;
    height: 100vh;
  }
}

@keyframes burgerShadow {
  5% {
    height: 100vh;
  }
  100% {
    opacity: 0.7;
    height: 100vh;
  }
}

.burger_shadow--active {
  -webkit-animation: burgerShadow .2s linear forwards;
          animation: burgerShadow .2s linear forwards;
}

.burger_content {
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
}

.burger_translate {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

header {
  width: 100%;
  padding-top: 60px;
  position: absolute;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 110%;
}

.logo__subtitle {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 110%;
  margin-top: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #CDCDCD;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  height: 24px;
  display: block;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.list__link:hover {
  color: #FAFAFA;
}

.list__link_active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
}

.dTactive:hover {
  color: #CDCDCD !important;
  cursor: text;
}

.hero {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 41.8% 58.2%;
      grid-template-columns: 41.8% 58.2%;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 164px;
}

.hero-title {
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  max-width: 350px;
  letter-spacing: .06em;
}

.hero-subtitle {
  max-width: 460px;
  margin-top: 42px;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 160%;
  font-family: Arial;
}

.hero-button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 207px;
  height: 52px;
  margin-top: 40px;
  border: none;
  background: #F1CDB3;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  border-radius: 100px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  color: #292929;
}

.hero-button:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.about {
  max-width: 850px;
  height: 588px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49.3% 50.7%;
      grid-template-columns: 49.3% 50.7%;
  margin: 0 auto;
  padding-top: 80px;
}

.about__content {
  padding-top: 15px;
}

.about h3 {
  max-width: 370px;
  font-size: 35px;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: .06em;
  color: #545454;
}

.about p {
  max-width: 430px;
  padding-top: 25px;
  font-size: 15px;
  line-height: 160%;
  font-family: Arial;
  color: #4C4C4C;
}

.friendsBox {
  width: 100%;
  background: #f6f6f6;
}

.friends {
  height: 877px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends h3 {
  max-width: 400px;
  text-align: center;
  font-size: 35px;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: .06em;
  color: #545454;
}

.friends--slider-box {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-arrow,
.right-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  line-height: 2.6;
  text-align: center;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.left-arrow:hover,
.right-arrow:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

.right-arrow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.friends--slider {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.friends__slider--elem {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  text-align: center;
  background: #FAFAFA;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.friends__slider--elem:hover {
  background: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 20px 7px #00000026;
}

.friends__slider--elem h4 {
  margin-top: 25px;
  font-size: 20px;
  color: #545454;
  letter-spacing: .06em;
  line-height: 23px;
  font-family: Georgia;
}

.friends--learn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  font-family: Georgia;
  color: #292929;
  line-height: 130%;
  letter-spacing: .06em;
  background: none;
  margin-top: 31px;
  cursor: pointer;
}

.friends--learn:hover {
  background-color: #FDDCC4;
}

.friends--reset {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 261px;
  height: 52px;
  margin-top: 60px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.friends--reset:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.help {
  height: 611px;
  padding-top: 80px;
}

.help h3 {
  max-width: 320px;
  margin: 0 auto 60px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__content {
  margin: 0 auto;
  max-width: 1026px;
}

.help_media {
  display: none;
}

.help__content--row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help__content--row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 53px;
  padding: 0 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.help__elem {
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 1px;
}

.help__elem image {
  height: 60px;
}

.help__elem h4 {
  margin-top: 27px;
  font-size: 20px;
  letter-spacing: .06em;
  color: #545454;
  font-family: Georgia;
  line-height: 115%;
}

.bowls {
  padding-top: 3px;
}

.bowls h4 {
  margin-top: 27.8px;
}

.in_addition {
  height: 464px;
  background: #F6F6F6;
  padding-top: 81px;
}

.in_addition--box {
  max-width: 915px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58.4% auto;
      grid-template-columns: 58.4% auto;
  color: #545454;
  font-family: Georgia;
}

.in_addition--dog {
  padding-top: 11px;
}

.in_addition h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 300px;
}

.in_addition h5 {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-top: 20px;
}

.credit_card {
  height: 43px;
  width: 349px;
  margin-top: 20px;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1CDB3;
  border-radius: 9px;
  padding-left: 15px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.credit_card:hover {
  background: #FDDCC4;
}

.in_addition a {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-left: 15px;
  text-decoration: none;
  color: #545454 !important;
}

.in_addition p {
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

footer {
  height: 350px;
  font-family: Georgia;
}

.noise_footer {
  background-image: url(../../assets/noise_transparent.png);
  height: 100%;
}

.footer {
  display: -ms-grid;
  display: grid;
  padding-top: 40px;
  -ms-grid-columns: 36.6% 38.5% 25%;
      grid-template-columns: 36.6% 38.5% 25%;
}

.footer_mail {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h3 {
  max-width: 282px;
  margin-top: 18px;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}

.footer h4 {
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.footer a img {
  margin-right: 20px;
}

.footer_city {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  max-width: 310px;
}

@media (max-width: 992px) {
  header {
    padding: 30px;
  }
  .hero {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .hero img {
    margin-left: 169px;
  }
  .hero-content {
    padding-top: 0px;
    padding-left: 154px;
    margin-bottom: 100px;
  }
  .hero-button {
    margin-left: 126px;
  }
  .about {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    height: 1048px;
    padding-top: 80px;
    justify-items: center;
  }
  .about__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .friends--slider-box {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .friends__slider--elem:nth-child(3) {
    display: none;
  }
  .friends--slider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 580px;
  }
  .help__content--row1,
  .help__content--row2 {
    display: none;
  }
  .help {
    height: 779px;
  }
  .help_media {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 58px;
  }
  .in_addition {
    height: 768px;
  }
  .in_addition--box {
    -ms-grid-columns: 380px;
        grid-template-columns: 380px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .in_addition--content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .topGradient {
    height: 100%;
  }
  .footer_image {
    grid-column: span 2;
    text-align: center;
    margin-top: 60px;
    height: 310px;
  }
}

@media (max-width: 720px) {
  header {
    padding: 30px 0 0 10px;
  }
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo {
    margin-right: 125px;
    z-index: 999999;
  }
  .menu {
    width: auto;
  }
  .hero-subtitle {
    margin: 42px auto;
    max-width: 300px;
  }
  .list {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 35px;
    cursor: pointer;
    z-index: 999;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  .burger_button span {
    width: 2px;
    height: 30px;
    background: #FDDCC4;
    display: block;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .burger_button span:after {
    content: '';
    width: 2px;
    height: 30px;
    background: #FDDCC4;
    display: block;
    -webkit-transform: translate(10px, -30px);
            transform: translate(10px, -30px);
  }
  .burger_button span:before {
    content: '';
    width: 2px;
    height: 30px;
    background: #FDDCC4;
    display: block;
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  .burger_content {
    width: 320px;
    height: 100vh;
    background-color: #292929;
    top: 0;
    right: 0;
    position: absolute;
    padding: 170px 0 0 10px;
    text-align: left;
    -webkit-transition: -webkit-transform .4s linear;
    transition: -webkit-transform .4s linear;
    transition: transform .4s linear;
    transition: transform .4s linear, -webkit-transform .4s linear;
  }
  .burger_content .list__link {
    color: #CDCDCD;
    font-size: 32px;
    height: 51px;
    margin: 0 auto;
  }
  .burger_content .list__link:hover {
    color: #FAFAFA;
  }
  .burger_content .list__item {
    margin-bottom: 40px;
  }
  .burger_content .list__item .list__link_active {
    color: #FAFAFA;
  }
}

@media (max-width: 720px) {
  .hero-content {
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .hero-title {
    font-size: 25px;
    max-width: 200px;
    margin: 0 auto;
  }
  .hero-button {
    margin: 42px auto 0 auto;
  }
  .hero img {
    margin: 105px auto 0;
    width: 260px;
  }
  .about__content {
    padding-left: 25px;
    padding-right: 25px;
  }
  .about__content h3 {
    font-size: 25px;
    width: 250px;
    text-align: center;
  }
  .friends__slider--elem:nth-child(2) {
    display: none;
  }
  .help {
    padding-top: 42px;
    height: 1020px;
  }
  .help h3 {
    font-size: 25px;
    max-width: 240px;
  }
  .help_media {
    height: 745px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .in_addition {
    height: 574px;
  }
  .in_addition h3 {
    font-size: 25px;
    width: 220px;
    margin: 0 auto;
    text-align: center;
  }
  .in_addition h5 {
    margin: 20px auto;
    letter-spacing: normal;
  }
  .in_addition p {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 42px;
  }
  .in_addition--box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .in_addition--dog {
    width: 260px;
    padding-top: 0;
    margin: 0 auto 42px auto;
  }
  .credit_card {
    width: 281px;
    margin: 0 auto 20px auto;
  }
  .credit_card a {
    font-size: 15px;
  }
  .friendsBox {
    height: 921px;
  }
  .friends--slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column: span 2;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: auto;
  }
  .left-arrow {
    margin-left: 64%;
  }
  .right-arrow {
    margin-left: 2%;
  }
  .friends--slider-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .friends--reset {
    margin: 42px auto 0 auto;
    height: 52px !important;
  }
  .footer_address {
    margin-top: 44px;
  }
  .footer_image {
    text-align: center;
    margin-top: 94px;
    height: 310px;
  }
}
/*# sourceMappingURL=main.css.map */
