* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

.overflow_Y {
  overflow-y: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.burger {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.burger_button_rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#burger_shadow {
  width: 100vw;
  height: 0vh;
  position: fixed;
  background-color: #4c4c4c;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 998;
}

@-webkit-keyframes burgerShadow {
  5% {
    height: 100vh;
  }
  100% {
    opacity: 0.7;
    height: 100vh;
  }
}

@keyframes burgerShadow {
  5% {
    height: 100vh;
  }
  100% {
    opacity: 0.7;
    height: 100vh;
  }
}

.burger_shadow--active {
  -webkit-animation: burgerShadow .2s linear forwards;
          animation: burgerShadow .2s linear forwards;
}

.burger_content {
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
}

.burger_translate {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

header {
  z-index: 999;
  width: 100%;
  height: 120px;
  padding-top: 30px;
  position: fixed;
  background: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.logo__title {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 110%;
}

.logo__subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 110%;
  margin-top: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #545454;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  height: 24px;
  display: block;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.list__link:hover {
  color: #292929;
}

.list__link_active {
  color: #292929;
  border-bottom: solid 3px #f1cdb3;
}

.dTactive:hover {
  color: #545454 !important;
  cursor: text;
}

main {
  height: 1462px;
  background: #f6f6f6;
  padding-top: 120px;
}

.our-friends {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}

#slider_box {
  -webkit-transform: translate(0px);
          transform: translate(0px);
  width: 3600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1200px)[3];
      grid-template-columns: repeat(3, 1200px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.our_friends--1,
.our_friends--2,
.our_friends--3 {
  width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px)[4];
      grid-template-columns: repeat(4, 270px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 {
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.elem {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  text-align: center;
  border-radius: 9px;
  margin-bottom: 30px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.elem h4 {
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
}

.elem:hover {
  background: #ffffff;
  cursor: pointer;
}

.friends--learn {
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-size: 17px;
  font-family: Georgia;
  color: #292929;
  line-height: 130%;
  letter-spacing: .06em;
  background: none;
  margin-top: 31px;
  cursor: pointer;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.friends--learn:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

#first,
#prev,
#now,
#next,
#last {
  width: 52px;
  height: 52px;
  border-radius: 25px;
  border: 2px solid #f1cdb3;
  font-size: 20px;
  font-family: Georgia;
  text-align: center;
  line-height: 2.2;
  color: #292929;
  background: none;
  margin: 0 10px;
}

#first:hover,
#prev:hover,
#now:hover,
#next:hover,
#last:hover {
  background: #fddcc4;
  border-color: #fddcc4;
  cursor: pointer;
}

footer {
  height: 350px;
  font-family: Georgia;
}

.topGradient {
  height: 100%;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), -webkit-gradient(linear, left bottom, left top, from(#211F20), to(#211F20));
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), linear-gradient(0deg, #211F20, #211F20);
}

.noise_footer {
  background-image: url(/assets/noise_transparent.png);
  height: 100%;
}

.footer {
  display: -ms-grid;
  display: grid;
  padding-top: 40px;
  -ms-grid-columns: 36.6% 38.5% 25%;
      grid-template-columns: 36.6% 38.5% 25%;
}

.footer h3 {
  max-width: 282px;
  margin-top: 18px;
  font-size: 35px;
  line-height: 130%;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.footer h4 {
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}

.footer a img {
  margin-right: 20px;
}

.footer_mail {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_city {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  max-width: 310px;
}

.footer_image {
  height: 310px;
}

@media (max-width: 992px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
  main {
    height: 1853px;
  }
  .our-friends {
    width: 692px;
  }
  #slider_box {
    width: 2076px;
    -ms-grid-columns: (692px)[3];
        grid-template-columns: repeat(3, 692px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .our_friends--1,
  .our_friends--2,
  .our_friends--3 {
    width: 692px;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (270px)[2];
        grid-template-columns: repeat(2, 270px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .elem:nth-child(7),
  .elem:nth-child(8) {
    display: none;
  }
  .footer {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .footer_image {
    grid-column: span 2;
    text-align: center;
    margin-top: 60px;
    height: 310px;
  }
}

@media (max-width: 720px) {
  header {
    padding: 30px 0 0 10px;
  }
  .menu {
    width: auto;
  }
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo {
    margin-right: 125px;
    z-index: 999999;
  }
  .list {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger_logo_title {
    color: #f1cdb3;
    font-size: 32px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  .burger_logo_subtitle {
    color: #ffffff;
    font-size: 13px;
    letter-spacing: .1em;
    text-align: left;
    margin-bottom: 132px;
  }
  .burger_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    position: absolute;
    top: 50px;
    right: 35px;
    cursor: pointer;
    z-index: 999;
  }
  .burger_button span {
    width: 2px;
    height: 30px;
    background: black;
    display: block;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .burger_button span:after {
    content: '';
    width: 2px;
    height: 30px;
    background: black;
    display: block;
    -webkit-transform: translate(10px, -30px);
            transform: translate(10px, -30px);
  }
  .burger_button span:before {
    content: '';
    width: 2px;
    height: 30px;
    background: black;
    display: block;
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  .burger_content {
    width: 320px;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
    right: 0;
    position: absolute;
    padding: 170px 0 0 10px;
    text-align: left;
    -webkit-transition: -webkit-transform .4s linear;
    transition: -webkit-transform .4s linear;
    transition: transform .4s linear;
    transition: transform .4s linear, -webkit-transform .4s linear;
  }
  .burger_content .list__link {
    color: #545454;
    font-size: 32px;
    height: 51px;
    margin: 0 auto;
  }
  .burger_content .list__link:hover {
    color: #292929;
  }
  .burger_content .list__item {
    margin-bottom: 40px;
  }
  .burger_content .list__item .list__link_active {
    color: #292929;
  }
  .hero-subtitle {
    margin: 42px auto;
    max-width: 300px;
  }
  main {
    height: 1853px;
  }
  h3 {
    margin-top: 40px;
    font-size: 25px;
  }
  #first,
  #prev,
  #now,
  #next,
  #last {
    margin: 0 3px;
  }
  .our-friends {
    -ms-grid-columns: (270px)[1];
        grid-template-columns: repeat(1, 270px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 320px;
  }
  #slider_box {
    width: 960px;
    -ms-grid-columns: (320px)[3];
        grid-template-columns: repeat(3, 320px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .our_friends--1,
  .our_friends--2,
  .our_friends--3 {
    width: 320px;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (270px)[1];
        grid-template-columns: repeat(1, 270px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elem:nth-child(4),
  .elem:nth-child(5),
  .elem:nth-child(6),
  .elem:nth-child(7),
  .elem:nth-child(8) {
    display: none;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer_address {
    margin-top: 44px;
  }
  .footer_image {
    text-align: center;
    margin-top: 94px;
    height: 310px;
  }
}
/*# sourceMappingURL=pets.css.map */